:root {
  --cmp-link-color: var(--pal-color-a-500);
}

.cmp-link.button-look {
  display: flex;
  align-items: center;
  padding-inline: var(--ui-padding-inline);
  height: var(--ui-height);

  font-size: var(--ui-font-size);
  font-weight: 500;
  white-space: nowrap;

  border-radius: var(--ui-border-radius);

  transition:
    background-color var(--pal-time-xs) ease-out,
    opacity var(--pal-time-xs) ease-out,
    scale var(--pal-time-xs) ease;

  &.primary {
    background-color: var(--cmp-link-color);

    &:hover {
      background-color: color-mix(in srgb, #fff 5%, var(--cmp-link-color));
    }
  }

  &.secondary {
    border: var(--line-thickness) solid var(--cmp-link-color);

    &:hover {
      background-color: color-mix(in srgb, #fff 5%, transparent);
    }
  }

  &.square {
    justify-content: center;
    padding: 0;
    aspect-ratio: 1;
  }

  &:active {
    scale: 0.95;
  }

  &:disabled {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--cmp-link-color)
    );
    opacity: 0.75;
    pointer-events: none;
  }
}
