.text-muted {
  opacity: 0.625;
}

.ui-l {
  --ui-gap: var(--pal-size-s);
  --ui-padding-inline: var(--pal-size-l);
  --ui-height: var(--pal-size-2xl);
  --ui-font-size: var(--pal-size-font-s);
  --ui-icon-size: var(--pal-size-m);
  --ui-border-radius: var(--pal-size-xs);
}

.ui-m {
  --ui-gap: var(--pal-size-xs);
  --ui-padding-inline: var(--pal-size-m);
  --ui-height: var(--pal-size-xl);
  --ui-font-size: var(--pal-size-font-xs);
  --ui-icon-size: var(--pal-size-s);
  --ui-border-radius: var(--pal-size-xs);
}

.ui-s {
  --ui-gap: var(--pal-size-2xs);
  --ui-padding-inline: var(--pal-size-xs);
  --ui-height: var(--pal-size-l);
  --ui-font-size: var(--pal-size-font-2xs);
  --ui-icon-size: var(--pal-size-s);
  --ui-border-radius: var(--pal-size-2xs);
}
