@layer normalize, palette, global, util;

@import 'normalize.css' layer(normalize);
@import 'palette.css' layer(palette);
@import 'global.css' layer(global);
@import 'util.css' layer(util);

/* Button */

:root {
  --cmp-button-color: var(--pal-color-a-500);
}

.cmp-button {
  border: none;
  padding-inline: var(--ui-padding-inline);
  height: var(--ui-height);

  font-size: var(--ui-font-size);
  font-weight: 500;
  white-space: nowrap;

  border-radius: var(--ui-border-radius);
  background-color: var(--cmp-button-color);
  cursor: pointer;

  transition: background-color var(--pal-time-xs) ease-out,
    opacity var(--pal-time-xs) ease-out, scale var(--pal-time-xs) ease;

  &:hover {
    background-color: color-mix(in srgb, #fff 5%, var(--cmp-button-color));
  }

  &.square {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    aspect-ratio: 1;
  }

  &:active {
    scale: 0.95;
  }

  &:disabled {
    background-color: color-mix(
      in srgb,
      transparent 50%,
      var(--cmp-button-color)
    );
    opacity: 0.75;
    pointer-events: none;
  }
}

/* Select */

.cmp-select {
  --picker-padding: var(--pal-size-2xs);
  --border-radius: var(--pal-size-xs);

  border: none;

  color: var(--pal-color-a-150);

  transition: background-color var(--pal-time-xs) ease-out;

  &,
  &::picker(select) {
    border-radius: var(--border-radius);
    background-color: var(--pal-color-a-750);
    appearance: base-select;
  }

  optgroup {
    --gap: var(--pal-size-2xs);

    display: flex;
    flex-direction: column;
    margin-top: var(--gap);
    margin-left: var(--pal-size-xs);
    font-size: var(--pal-size-font-xs);

    color: var(--pal-color-a-400);

    > *:first-child {
      margin-top: var(--gap);
      color: var(--pal-color-a-150);
    }
  }

  option {
    --check-size: var(--pal-size-l);

    position: relative;

    display: flex;
    padding-inline: var(--pal-size-s);
    height: var(--pal-size-xl);

    font-size: var(--pal-size-font-s);

    border-radius: calc(var(--border-radius) - var(--picker-padding));
    color: var(--pal-color-a-150);

    overflow: hidden;

    transition: padding-left var(--pal-time-s) ease;

    &::before {
      position: absolute;
      left: calc(var(--check-size) * -0.875);

      aspect-ratio: 1;
      width: 0;

      content: '';

      border-radius: 100%;
      background-color: var(--pal-color-white);

      transition: width var(--pal-time-s) ease, height var(--pal-time-s) ease;
    }

    &::checkmark {
      display: none;
    }

    &:hover {
      background-color: var(--pal-color-a-650);
    }

    &:checked {
      padding-left: calc(var(--pal-size-s) * 1.75);

      color: var(--pal-color-white);
      background-color: var(--pal-color-a-550);

      &::before {
        width: var(--check-size);
      }
    }
  }

  hr {
    margin-block: var(--pal-size-2xs);
    height: var(--line-thickness);

    background-color: var(--pal-color-a-650);
  }

  > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--pal-size-s);
    padding-left: var(--pal-size-m);
    width: 100%;
    height: var(--pal-size-2xl);

    > svg {
      aspect-ratio: 1;
      width: var(--pal-size-font-m);
      height: auto;

      transition: rotate var(--pal-time-s) ease;
    }
  }

  &::picker-icon {
    display: none;
  }

  &::picker(select) {
    margin-top: var(--pal-size-m);
    border: var(--line-thickness) solid var(--pal-color-a-650);
    padding: var(--picker-padding);

    box-shadow: var(--pal-shadow-1);
    scale: 0.95;
    opacity: 0;

    transition: display var(--pal-time-s) ease allow-discrete,
      overlay var(--pal-time-s) ease allow-discrete,
      margin-top var(--pal-time-s) ease, scale var(--pal-time-s) ease,
      opacity var(--pal-time-s) ease;
  }

  &::picker(select):popover-open {
    margin-top: var(--pal-size-2xs);
    scale: initial;
    opacity: initial;

    @starting-style {
      margin-top: var(--pal-size-m);
      scale: 0.95;
      opacity: 0;
    }
  }

  &:hover {
    background-color: color-mix(in srgb, #fff 5%, var(--pal-color-a-750));
  }

  &:open > button > svg {
    rotate: 0.5turn;
  }
}

/* SearchForm */

.cmp-search-form {
  width: 100%;

  label {
    display: contents;
  }

  > .bar {
    --icon-size: var(--pal-size-l);
    --padding-left: var(--pal-size-m);
    --gap: var(--pal-size-m);

    position: relative;

    display: flex;
    align-items: center;
    margin-bottom: var(--pal-size-s);
    border: var(--line-thickness) solid var(--pal-color-a-750);
    padding: var(--pal-size-2xs);
    padding-left: calc(var(--padding-left) + var(--icon-size) + var(--gap));
    width: 100%;

    border-radius: var(--pal-size-s);
    background-color: var(--pal-color-a-800);
    box-shadow: var(--pal-shadow-1);
    overflow: hidden;
    backdrop-filter: blur(1rem);

    transition: padding-left var(--pal-time-s) ease;

    .icon {
      opacity: 0.625;
    }

    > label {
      > input {
        flex-grow: 1;
      }
    }

    > .icon-tabler-search {
      position: absolute;
      left: var(--padding-left);

      transition: translate var(--pal-time-s) ease,
        opacity var(--pal-time-s) ease;
    }

    &:has(input:focus, input:not(:placeholder-shown)) {
      padding-left: var(--padding-left);

      > .icon-tabler-search {
        translate: calc((var(--icon-size) + var(--gap)) * -1);
        opacity: 0;
      }
    }
  }

  > .filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.5rem, 1fr));
    gap: var(--pal-size-s);
  }
}

/* Page */

body {
  --layout-width: 75rem;
  --layout-padding: var(--pal-size-font-l);
  --layout-max-width: calc(var(--layout-width) + var(--layout-padding) * 2);
  --header-padding: var(--pal-size-s);

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  line-height: 1.4;
  font-family: var(--pal-font-a);
  font-weight: 350;

  color: var(--pal-color-a-50);
  overflow-x: hidden;

  > header {
    position: fixed;
    z-index: 1;

    border-bottom: var(--line-thickness) solid var(--pal-color-a-750);
    width: 100%;

    background-color: color-mix(
      in srgb,
      transparent 10%,
      var(--pal-color-a-800)
    );
    backdrop-filter: blur(16px);

    > .content {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--pal-size-s);
      margin-inline: auto;
      padding: var(--header-padding);
      width: 100%;
      max-width: var(--layout-width);

      > *:not(nav) {
        z-index: 1;
      }

      > h1 {
        display: flex;
        align-items: center;
        gap: var(--pal-size-s);

        font-size: var(--pal-size-font-m);

        > svg {
          width: var(--pal-size-xl);

          color: var(--pal-color-a-500);
        }
      }

      > .left {
        display: flex;
        align-items: center;

        > nav {
          display: flex;
          gap: var(--pal-size-s);

          > a {
            --bg-color: var(--pal-color-a-750);

            align-content: center;
            padding-inline: var(--ui-padding-inline);
            height: var(--ui-height);

            font-size: var(--ui-font-size);
            white-space: nowrap;

            border-radius: var(--ui-border-radius);
            background-color: var(--bg-color);

            transition: background-color var(--pal-time-xs) ease-out,
              scale var(--pal-time-xs) ease;

            &:hover {
              background-color: color-mix(in srgb, #fff 5%, var(--bg-color));
            }

            &:active {
              scale: 0.95;
            }

            &:first-child {
              border: var(--line-thickness) solid var(--pal-color-a-450);

              font-weight: 500;

              color: var(--pal-color-a-250);
            }
          }
        }

        > .cmp-button {
          --cmp-button-color: transparent;

          display: none;
        }
      }

      > nav {
        position: absolute;
        left: 0;

        display: flex;
        justify-content: center;
        gap: var(--pal-size-l);
        width: 100%;

        > a {
          position: relative;

          transition: color var(--pal-time-s) ease-out;

          &:hover {
            color: var(--pal-color-a-200);
          }

          &.is-active {
            pointer-events: none;

            &::after {
              position: absolute;
              bottom: calc(var(--pal-size-xs) * -1);
              left: 0;

              width: 100%;
              height: var(--line-thickness);

              content: '';

              background-color: var(--pal-color-a-400);
            }
          }
        }
      }
    }
  }

  > main {
    --header-content-height: var(--pal-size-xl);

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: calc(
      var(--header-padding) * 2 + var(--header-content-height) +
        var(--line-thickness)
    );
    margin-bottom: var(--pal-size-3xl);
    padding-inline: var(--layout-padding);
    width: 100%;
    max-width: var(--layout-max-width);
  }

  > footer {
    border-top: var(--line-thickness) solid var(--pal-color-a-750);
    padding: var(--pal-size-l);
    width: 100%;

    text-align: center;

    > small {
      font-size: var(--pal-size-font-xs);
    }
  }

  @media (width <= 59rem) {
    --header-padding: var(--pal-size-2xs);

    > header > .content {
      padding-left: var(--pal-size-s);

      > nav {
        display: none;
      }

      > .left {
        nav {
          display: none;
        }

        > .cmp-button {
          display: flex;
        }
      }
    }

    > main {
      --header-content-height: var(--pal-size-2xl);
    }
  }
}

/* Home */

.home {
  gap: var(--pal-size-3xl);

  > .hero {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;

    text-align: center;

    > img {
      position: absolute;
      z-index: -1;
      left: calc((100vw - 100%) / -2);

      width: 100vw;
      height: 100%;

      object-fit: cover;
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.625) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    > h1 {
      margin-bottom: var(--pal-size-s);
    }

    > p {
      margin-bottom: var(--pal-size-2xl);

      color: var(--pal-color-a-200);
    }

    > .cmp-search-form {
      max-width: 35rem;
    }
  }

  .why {
    text-align: center;

    > header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--pal-size-l);
      margin-bottom: var(--pal-size-2xl);

      > p {
        max-width: 40rem;
      }
    }

    > footer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
      gap: var(--layout-padding);

      > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: var(--line-thickness) solid var(--pal-color-a-750);
        padding: var(--pal-size-xl);

        border-radius: var(--pal-size-xs);
        background-color: var(--pal-color-a-800);
        box-shadow: var(--pal-shadow-1);

        > header {
          > svg {
            margin-bottom: var(--pal-size-xl);
            padding: 16px;
            width: 4rem;
            height: 4rem;

            border-radius: 50%;
            color: var(--pal-color-a-500);
            background-color: var(--pal-color-a-750);
          }

          > h3 {
            margin-bottom: var(--pal-size-m);
          }
        }
      }
    }
  }
}

/* Empleos */

.empleos {
  display: flex;
  flex-direction: column;

  > .jobs-search {
    --cmp-button-color: var(--pal-color-a-750);

    margin-block: calc(var(--pal-size-l) * 3);

    text-align: center;

    > h1 {
      margin-bottom: var(--pal-size-s);
    }

    > p {
      margin-bottom: var(--pal-size-2xl);
    }
  }

  > .results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--pal-size-2xl);

    > h2 {
      align-self: flex-start;
    }

    > .jobs-listings,
    > small {
      border: var(--line-thickness) solid var(--pal-color-a-750);

      border-radius: var(--pal-size-xs);
    }

    > .jobs-listings {
      display: flex;
      flex-direction: column;

      overflow: hidden;

      li > a > article {
        border-bottom: var(--line-thickness) solid var(--pal-color-a-750);
        padding: var(--pal-size-l);

        transition: background-color var(--pal-time-xs) ease-out;

        > header {
          display: flex;
          justify-content: space-between;
          gap: var(--pal-size-l);
          margin-bottom: var(--pal-size-l);

          > div > small {
            font-size: var(--pal-size-font-xs);
          }

          > .cmp-button:disabled {
            --cmp-button-color: var(--pal-color-b-500);
          }

          @media (width <= 22rem) {
            flex-direction: column;
          }
        }

        &:hover {
          background-color: var(--pal-color-a-800);
        }

        > p {
          opacity: 0.75;
        }
      }

      li:last-child > a > article {
        border-bottom: none;
      }
    }

    > small {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--pal-size-s);
      padding: var(--pal-size-2xl);
      width: 100%;

      font-size: inherit;

      color: var(--pal-color-a-200);
    }

    > .pagination {
      display: flex;
      gap: var(--pal-size-xs);

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        height: var(--ui-height);

        font-size: var(--ui-font-size);

        border-radius: var(--ui-border-radius);

        transition: background-color var(--pal-time-xs) ease-out,
          scale var(--pal-time-xs) ease;

        &:hover {
          background-color: var(--pal-color-a-750);
        }

        &:active {
          scale: 0.95;
        }

        &.is-active {
          background-color: var(--pal-color-a-500);
          pointer-events: none;
        }
      }
    }
  }
}
